@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Sales Management</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <span><i class="fa-solid fa-address-card"></i>&nbsp &nbsp Profile</span>
            </NavLink>
        </li>*@

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="admin">
                <span><i class="fa-solid fa-user"></i>&nbsp &nbsp Admin</span>
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="user">
                <span><i class="fa-solid fa-users"></i>&nbsp &nbsp User</span>
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="manager">
                <span><i class="fa-solid fa-user-tie"></i>&nbsp &nbsp Manager</span>
            </NavLink>
        </li>

@*        <li class="nav-item px-3">
            <NavLink class="nav-link" href="role">
                <span><i class="fa-solid fa-user-gear"></i>&nbsp &nbsp Roles</span>
            </NavLink>
        </li>*@

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="product">
                <span><i class="fa-solid fa-wine-bottle"></i>&nbsp &nbsp Products</span>
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="store">
                <span><i class="fa-solid fa-store"></i>&nbsp &nbsp Stores</span>
            </NavLink>
        </li>

@*        <li class="nav-item px-3">
            <NavLink class="nav-link" href="location">
                <span><i class="fa-solid fa-location-dot"></i>&nbsp &nbsp Locations</span>
            </NavLink>
        </li>*@

@*        <li class="nav-item px-3">
            <NavLink class="nav-link" href="target">
                <span><i class="fa-solid fa-bullseye"></i>&nbsp &nbsp Targets</span>
            </NavLink>
        </li>*@

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="targetUserManager">
                <span><i class="fa-solid fa-bullseye"></i>&nbsp &nbsp Targets</span>
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="salesDetail">
                <span><i class="fa-solid fa-chart-column"></i>&nbsp &nbsp Daily Sales</span>
            </NavLink>
        </li>

@*        <li class="nav-item px-3">
            <NavLink class="nav-link" href="salesdetailTargetUser">
                <span><i class="fa-solid fa-chart-column"></i>&nbsp &nbsp Daily Sales</span>
            </NavLink>
        </li>*@

         <li class="nav-item px-3">
            <NavLink class="nav-link" href="storeSalesDetail">
                <span><i class="fa-solid fa-chart-bar"></i>&nbsp &nbsp Daily Store Order</span>
            </NavLink>
        </li>


@*        <li class="nav-item px-3">
            <NavLink class="nav-link" href="storeSalesDetailStoreUser">
                <span><i class="fa-solid fa-chart-bar"></i>&nbsp &nbsp Daily Store Order</span>
            </NavLink>
        </li>*@
        
            </ul>
        </div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
