@page "/adminCreate"

@using BlazorApp.Models
@using BlazorApp.Services
@inject NavigationManager NavigationManager;

<EditForm Model="@newStore" OnValidSubmit="@SubmitCreate">
    <DataAnnotationsValidator />

  <div class="form-group">
    <label for="Id">Id</label>
    <InputText class="form-control" @bind-Value="newStore.Id"></InputText>
    <ValidationMessage For="()=>newStore.Id"></ValidationMessage>
  </div>

  <div class="form-group">
    <label for="Name">Name</label>
    <InputText class="form-control" @bind-Value="newStore.Name"></InputText>
    <ValidationMessage For="()=>newStore.Name"></ValidationMessage>
  </div>

  <div class="form-group">
    <label for="Email">Email</label>
    <InputText class="form-control" @bind-Value="newStore.Email"></InputText>
    <ValidationMessage For="()=>newStore.Email"></ValidationMessage>
  </div>

  <div class="form-group">
    <label for="Phone" class="col-sm-2 col-form-label">Phone</label>
    <InputText class="form-control" @bind-Value="newStore.Phone"></InputText>
    <ValidationMessage For="()=>newStore.Phone"></ValidationMessage>
  </div>

  <div class="form-group">
    <label for="Address">Address</label>
    <InputText class="form-control" @bind-Value="newStore.Address"></InputText>
    <ValidationMessage For="()=>newStore.Address"></ValidationMessage>
  </div>

  <div class="form-group">
    <label for="Longitude">Longitude</label>
    <InputNumber class="form-control" @bind-Value="newStore.Longitude"></InputNumber>
    <ValidationMessage For="()=>newStore.Longitude"></ValidationMessage>
  </div>

  <div class="form-group">
    <label for="Latitude">Latitude</label>
    <InputNumber class="form-control" @bind-Value="newStore.Latitude"></InputNumber>
    <ValidationMessage For="()=>newStore.Latitude"></ValidationMessage>
  </div>

  <div class="form-group">
    <label for="LocationId">LocationId</label>
    <InputNumber class="form-control" @bind-Value="newStore.LocationId"></InputNumber>
    <ValidationMessage For="()=>newStore.LocationId"></ValidationMessage>
  </div>

  <div class="form-group">
    <label for="IsActive">IsActive</label>
    <InputRadio class="form-control" @bind-Value="newStore.IsActive"></InputRadio>
    <ValidationMessage For="()=>newStore.IsActive"></ValidationMessage>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    [Inject]
    private IStoreServices _services { get; set; }

    private Store newStore = new Store();

    private async Task SubmitCreate(EditContext context)
    {
        var result = await _services.createStore(newStore);
        if (result)
        {
            NavigationManager.NavigateTo("/store");
        }
    }
}
