@page "/kpiPerMonth"
@attribute [Authorize]
@using BlazorApp.Services
@using BlazorApp.Models
@inject IToastService ToastService
@inject KpiPerMonthServices _services;

<div class="row">
        <div class="col-md-2" style="max-width:130px">
            <div class="download" style="display:flex; align-items: center">
                <DirectorReportDownload></DirectorReportDownload>&nbsp<i class="fa fa-download"></i>
            </div>
            
        </div>
</div>

<br />

@if (loading)
{
    <table class="table">
        <tr>
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </table>
}


<RadzenGrid @ref="reportGrid" AllowPaging="true" PageSize="10" AllowSorting="true" Data="rp" TItem="vKpiPerMonth" ColumnWidth="200px"
            AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">
    <Columns>
         <RadzenGridColumn TItem="vKpiPerMonth" Property="Director" Title="Director"></RadzenGridColumn>

        <RadzenGridColumn TItem="vKpiPerMonth" Property="Manager" Title="Manager"></RadzenGridColumn>

        <RadzenGridColumn TItem="vKpiPerMonth" Property="Salesman" Title="Salesman"></RadzenGridColumn>

        <RadzenGridColumn TItem="vKpiPerMonth" Property="Month" Title="Month"></RadzenGridColumn>

        <RadzenGridColumn TItem="vKpiPerMonth" Property="KpiValue" Title="Kpi_Value"></RadzenGridColumn>

    </Columns>
</RadzenGrid>


@code {
    RadzenGrid<vKpiPerMonth> reportGrid;

    private bool loading;

    private List<vKpiPerMonth> rp = new List<vKpiPerMonth>();


    protected override async Task OnInitializedAsync()
    {
        loading = true;
        rp = await _services.getAll();
        loading = false;
    }

}
