@page "/managerUser/{id}"
@attribute [Authorize]
@using BlazorApp.Services
@using BlazorApp.Models
@inject IToastService ToastService
@inject IManagerUserServices _services;
@inject IManagerServices _managerServices;

<table class="table">
    <thead>
        <tr>
            <th>@manager.Fullname</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in managerUsers)
        {
            <tr>
                <td>Salesman: @item.Salesman</td>
                @*<td>@item.SalesmanId</td>*@
                <td>
                    <a href="/userDetail/@item.SalesmanId" class="btn btn-outline-info"><i class="far fa-eye"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/manager" class="btn btn-primary">Cancel</a>

@code {
    private List<vManagerUser> managerUsers = new List<vManagerUser>();

    private Manager manager = new Manager();

    [Parameter]
    public string id { get; set; }
    public string managerName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        managerUsers = await _services.getManagerUsers(id);
        manager = await _managerServices.getManager(id);
    }
}
