@page "/managerUser/{id}"
@attribute [Authorize]
@using BlazorApp.Services
@using BlazorApp.Models
@inject IToastService ToastService
@inject IManagerUserServices _services;

<table class="table">
    <thead>
        <tr>
            <th>Manager Name</th>
            <th>Saleman Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in managerUsers)
        {
            <tr>
                <td>@item.Manager</td>
                <td>@item.Salesman</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<vManagerUser> managerUsers = new List<vManagerUser>();

    [Parameter]
    public string id { get; set; }
    public string managerName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        managerUsers = await _services.getManagerUsers(id);
        
    }
}
