@page "/storeUser/{id:int}"
@attribute [Authorize]
@using BlazorApp.Services
@using BlazorApp.Models
@inject IToastService ToastService
@inject IStoreUserServices _services;
@inject IUserServices _userServices;

<h1>Store Manage List</h1>

<table class="table">
    <thead>
        <tr>
            <th>@user.Fullname</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in storeUsers)
        {
            <tr>
                <td>Store: @item.Name</td>
            </tr>
        }
    </tbody>
</table>

<a href="/user" class="btn btn-primary">Cancel</a>

@code {
    private List<vStoreUser> storeUsers = new List<vStoreUser>();

    private User user = new User();

    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        storeUsers = await _services.getStoreUsers(id);
        user = await _userServices.getUser(id);
    }
}
